:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(187, 48%, 10%);
	--red-primary: hsl(0, 100%, 36%);
	--red-light: hsl(0, 100%, 90%);
	--red-dark: hsl(0, 100%, 25%);
	--green: hsl(119, 100%, 35%);
	--green-light: hsl(118, 100%, 90%);
	--green-dark: hsl(118, 100%, 25%);
	--gray-light: hsl(0, 0%, 80%);
	--gray-light-2: hsl(0, 0%, 90%);
	--gray-dark: hsl(0, 0%, 60%);
	--gray-dark-2: hsl(0, 0%, 30%);
	--font-main: 'Roboto', sans-serif;
}
