.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 1.6rem;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	color: white;
	background-color: rgba(0, 0, 0, .8);

	&__content {
		width: 100%;
		max-width: 50rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& h2 {
			text-align: center;
		}

		& h3 {
			margin-top: 3.2rem;
		}
	}

	&__controls {
		width: 32rem;
		margin-top: 3.2rem;
		display: flex;
		justify-content: space-evenly;
	}
}
