.admin-form-section {
	margin-bottom: 1.6rem;
	padding: 0 .8rem;

	& h2 {
		text-transform: none;
		font-size: 1.6rem;
		margin-bottom: .8rem;
	}

	& h3 {
		text-transform: none;
		font-size: 1.4rem;
		margin-bottom: 0;
	}
}
