.login-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	max-width: 32rem;

	& input {
		margin-bottom: 1.6rem;
		padding: .8rem;
	}

	&__controls {
		display: flex;
		flex-direction: column;
		font-size: 1.4rem;
		text-align: center;

		& a,
		button {
			margin-bottom: 1.6rem;
		}
	}
}
